<footer class="container-fluid bg-light">
       <div class="row">
            <section class="col">
                colone1
            </section>
            <section class="col">
                colone2
            </section>
            <section class="col">
                colone3
            </section>
        </div>
</footer>